{% extends "base.html.twig" %}

{% block body %}
<div class="row">
    <div>

    </div>
</div>
    <div class="col-sm-7">
        <div class="row">
            {{ include("HomesoftPlatformFilesBundle:Files:menu-video.html.twig") }}
        </div>
    </div>
</div>

{% endblock %}
