<div class="row">
    <input type="text" id="search-files" class="form-control" />
</div>
<div class="row" style="margin-top: 5px;">
    <div class="col-lg-12" style="overflow-y: auto; overflow-x: hidden; border: solid 1px lightblue; height: 550px;">
        <div id="tree-files"></div>
    </div>
</div>
