{% extends "base.html.twig" %}

{% block body %}

<div class="row">
    <section ng-controller="mediaCtrl">
        <article ng-show="medias.length">
            <ul>
                <li ng-repeat="media in medias">{[{ media.title }]}</li>
            </ul>
        </article>
    </section>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ include("HomesoftPlatformFilesBundle:Files:menu-video.html.twig") }}
    </div>
</div>

{% endblock %}