<div id="menu-video">
    <div class="col-sm-8">
        <div class="btn-group">
            <a id="fast-backward" class="btn btn-warning btn-lg" href="#"><span class="fa fa-fast-backward"></span>&nbsp;</a>
            <a id="step-backward" class="btn btn-info btn-lg" href="#"><span class="fa fa-step-backward"></span>&nbsp;</a>
            <a id="backward" class="btn btn-info btn-lg" href="#"><span class="fa fa-backward"></span>&nbsp;</a>
            <a id="play" class="btn btn-success btn-lg" href="#"><span class="fa fa-play"></span>&nbsp;</a>
            <a id="pause" class="btn btn-info btn-lg" href="#"><span class="fa fa-pause"></span>&nbsp;</a>
            <a id="stop" class="btn btn-danger btn-lg" href="#"><span class="fa fa-stop"></span>&nbsp;</a>
            <a id="forward" class="btn btn-info btn-lg" href="#"><span class="fa fa-forward"></span>&nbsp;</a>
            <a id="step-forward" class="btn btn-info btn-lg" href="#"><span class="fa fa-step-forward"></span>&nbsp;</a>
            <a id="fast-forward" class="btn btn-warning btn-lg" href="#"><span class="fa fa-fast-forward"></span>&nbsp;</a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="btn-group">
            <a id="volume-down" class="btn btn-default btn-lg" href="#"><span class="fa fa-volume-down"></span>&nbsp;</a>
            <a id="volume-off" class="btn btn-default btn-lg" href="#"><span class="fa fa-volume-off"></span>&nbsp;</a>
            <a id="volume-up" class="btn btn-default btn-lg" href="#"><span class="fa fa-volume-up"></span>&nbsp;</a>
        </div>
    </div>
    <div class="col-sm-1">
    <div class="btn-group">
        <a id="load-subtitle" class="btn btn-default btn-lg" href="#"><span class="fa fa-language"></span>&nbsp;</a>
    </div>
    </div>
</div>

<script>

$( document ).ready(function() {

    $("#play").on("click", function() {
        console.log($(this).val());
        var pathVideo = $(this).val();

        $.ajax({
            type: "POST",
            data: {pathFile: pathVideo},
            url: Routing.generate("homesoft_platform_files_link_file")
        });

        $.ajax({
            type: "POST",
            data: {pathFile: pathVideo},
            url: Routing.generate("homesoft_platform_files_play_file")
        });
    });

    $("#stop").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_stop_file")});
    });

    $("#volume-up").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_volume_up")});
    });

    $("#volume-off").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_volume_off")});
    });

    $("#volume-down").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_volume_down")});
    });

    $("#forward").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_forward")});
    });

    $("#step-forward").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_step_forward")});
    });

    $("#fast-forward").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_fast_forward")});
    });

    $("#backward").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_backward")});
    });

    $("#fast-backward").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_fast_backward")});
    });

    $("#step-backward").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_step_backward")});
    });

    $("#load-subtitle").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_load_subtitle")});
    });

    $("#pause").on("click", function() {
        $.ajax({url: Routing.generate("homesoft_platform_files_pause_file")});
    });
});
</script>