<div id="informations-media">
    <div class="col-sm-12">
        <div class="page-header">
            <h1 id="title"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img class="col-sm-12" id="poster" />
        </div>
        <div class="col-sm-8">
            <p id="original-name"></p>
            <p id="origin-country"></p>
            <p id="overview"></p>
        </div>
    </div>
</div>